.scroll-to-top-icon {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.8rem;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10000;
    background-color: var(--clr-primary);
    transition: .2s ease-out;
    animation: scrollToTop .2s ease-out;
}
.scroll-to-top-icon:hover {
    background-color: var(--clr-primary-dark);
    transform: scale(1.08);
    transition: .2s ease-out
}
@keyframes scrollToTop {
    from{transform: scale(0)}
    to{transform: scale(1)}
}

@media only screen and (min-width: 850px) {
    .scroll-to-top-icon {
        width: 3.5rem;
        height: 3.5rem;
        right: 3rem;
        bottom: 2rem;
        font-size: 2rem
    }
}