:root {
    --clr-primary: hsl(270, 56%, 63%);
    --clr-primary-dark: hsl(270, 56%, 56%);
    --clr-primary-light: hsl(270, 56%, 83%);
    --clr-secondary: hsl(256, 41%, 47%);
    --clr-secondary-dark: hsl(256, 41%, 37%);
    --clr-light-grey: hsl(0, 0%, 93%);
    --clr-body: hsl(279, 42%, 85%);
    --clr-green: hsl(100, 77%, 44%);
    --clr-green-dark: hsl(100, 77%, 37%);
    --clr-red: hsl(359, 100%, 65%);
    --clr-red-dark: hsl(359, 100%, 58%);
    --clr-orange: hsl(40, 96%, 53%);
}