*,
*::before,
*::after {box-sizing: border-box}

:root {
  --border: 1px solid black;
  --border-radius: 100px;
}

p,h1,h2,h3,ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#container {
  width: min(1024px, 85%);
  margin: 0 auto;
}
