.navbar-header {
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    position: sticky;
    top: 0
}
.scroll-border {
    box-shadow: 0 -25px 32px #000;
}
.navbar nav ul, .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    cursor: pointer;
    transition: .2s ease-in;
}
.logo a {text-decoration: none}
.logo img {max-width: 110px}
.logo:hover {
    transform: scale(1.03);
    transition: .25s ease-out
}
.navbar {height: 72px}
nav {display: flex}
.navbar nav ul {list-style: none}
.navbar nav > ul li + li {margin-left: 2rem}
.navbar nav > ul li a {
    font-weight: var(--fw-normal);
    cursor: pointer;
    transition: .15s ease-out;
    position: relative;
}
.navbar nav > ul li a.active-link,
.navbar nav > ul li a:hover {
    color: var(--clr-primary);
    transition: .15s ease-out;
}
.navbar nav > ul li a.active-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--clr-primary);
    bottom: -16px;
    border-radius: 100px;
    left: 50%;
    animation: scaleHz .2s ease-out forwards;
}
.nav-lang-change {margin-left: 2rem}
.nav-lang-change ul li + li {margin-left: .35rem}
.nav-lang-change ul li {
    font-weight: var(--fw-bold);
    cursor: pointer;
    padding: .5em;
    border-radius: 50%;
    user-select: none;
    transition: .2s ease-out;
}
.nav-lang-change ul li p {font-size: var(--fz-s)}
.nav-lang-change ul li:not(.selected-lang):hover {
    background-color: rgb(245, 245, 245);
    transition: .2s background-color ease-out
}
.nav-lang-change ul li.selected-lang {
    background-color: var(--clr-primary);
    color: #fff;
}
.nav-icon {display: none}

@media only screen and (max-width: 850px) {
    .nav-icon {display: block}
    .navbar nav > ul {display: none}
    .navbar nav > ul.hidden li a.active-link::before{display: none}
    .navbar nav > ul.hidden {
        display: block;
        position: absolute;
        background-color: var(--clr-primary-light);
        left: 0;
        top: 72px;
        width: 100%;
        text-align: center;
        animation: slideDown ease-out .2s forwards;
    }
    .navbar nav > ul.hidden li {padding: 1em}
    .navbar nav > ul.hidden li + li {margin: 0}
    .navbar nav > ul.hidden li:hover {background-color: var(--clr-primary)}
    .navbar nav > ul.hidden li a.active-link,
    .navbar nav > ul.hidden li a:hover {color: black}
    .logo img {max-width: 100px}
    .navbar nav > svg {
        margin-left: 1rem;
        cursor: pointer;
    }
}

@keyframes scaleHz {
    from {transform: scaleX(0) translateX(-50%)}
    to {transform: scaleX(1) translateX(-50%)}
}
@keyframes slideDown {
    from {transform: scaleY(0);
    transform-origin: top;}
    to {transform: scaleY(1);
        transform-origin: top;}
}
