footer {
    background-color: var(--clr-primary);
    margin-top: -.5rem;
    padding-bottom: 1em;
    text-align: center;
    color: #fff;
}
footer p {
    font-size: var(--fz-s);
    font-weight: var(--fw-normal);
}